$color1: #131921;
$color2: #3b4149;
$color3: #febd69;
$color4: #232f3e;
$color5: #bf4800;
$color6: #f5f5f7;
$color7: #ededed;
$color8: #777777;
$color9: #1c1c1b;
$color10: #dc9333;
$color11: #ffff;
$color12: #0066c0;
$color13: #000;

$text1: "Roboto", sans-serif;
$text2: "Rubik", sans-serif;
